<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <properties resource="com/bit189/haroo/conf/jdbc.properties"></properties>

  <typeAliases>
    <package name="com.bit189.haroo.domain"/>
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="com/bit189/haroo/mapper/PostMapper.xml"/>
    <mapper resource="com/bit189/haroo/mapper/ServiceInfoMapper.xml"/>
    <mapper resource="com/bit189/haroo/mapper/LearningMapper.xml"/>
    <mapper resource="com/bit189/haroo/mapper/LearningScheduleMapper.xml"/>
    <mapper resource="com/bit189/haroo/mapper/BroadCategoryMapper.xml"/>
    <mapper resource="com/bit189/haroo/mapper/NarrowCategoryMapper.xml"/>
    <mapper resource="com/bit189/haroo/mapper/SidoMapper.xml"/>
    <mapper resource="com/bit189/haroo/mapper/SigunguMapper.xml"/>
    <mapper resource="com/bit189/haroo/mapper/FeedMapper.xml"/>
    <mapper resource="com/bit189/haroo/mapper/CommentMapper.xml"/>
    <mapper resource="com/bit189/haroo/mapper/ReCommentMapper.xml"/>
    <mapper resource="com/bit189/haroo/mapper/MemberMapper.xml"/>
    <mapper resource="com/bit189/haroo/mapper/LearningReviewMapper.xml"/>
    <mapper resource="com/bit189/haroo/mapper/ServiceQuestionMapper.xml"/>
    <!--  
   <mapper resource="com/bit189/haroo/mapper/LearningApplicationMapper.xml"/>
   -->

  </mappers>
  
</configuration>








