<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit189.haroo.dao.LearningReviewDao">

  <resultMap id="LearningReviewMap" type="LearningReview">
    <id column="pno" property="no"/>
    <result column="content" property="content"/>
    <result column="wdttm" property="writingDate"/>
    <result column="view_cnt" property="viewCount"/>
    <result column="pstat" property="state"/>
    <result column="title" property="title"/>
    <result column="lrn_appl_no" property="learningApplyNo"/>
    <result column="rate" property="rate"/>
    <result column="rcm_cnt" property="recommendCount"/>
    
    <association property="writer" javaType="Member">
      <id column="mno" property="no"/>
      <result column="profile_pic" property="profilePicture"/>
      <result column="name" property="name"/>
      <result column="nickname" property="nickname"/>
      <result column="mstat" property="state"/>
    </association>
    
    <association property="serviceInfo" javaType="ServiceInfo"> 
      <id column="lno" property="no"/>
      <result column="sname" property="name"/>
      <result column="avg_rate" property="averageRate"/>
      <result column="sstat" property="state"/>
    </association>
    
    <association property="schedule" javaType="LearningSchedule">
      <id column="sno" property="no"/>
      <result column="lno" property="learningNo"/>
      <result column="date" property="learningDate"/>
      <result column="etm" property="endTime"/>
      <result column="sstat" property="state"/>
    </association>
    
    <collection property="attachedFiles" ofType="AttachedFile">
      <id column="fno" property="no"/>
      <result column="fname" property="name"/>
    </collection>
  </resultMap>
  
  <sql id="selectList">
	  select
      pno,
      wdttm,
      view_cnt,
      title,
      sname,
      avg_rate,
      name,
      nickname,
      mstat,
      rcm_cnt
    from
      har_vi_lrnrv
  </sql>
  
  <sql id="sortingOrderBy">
    order by
    <if test="sortingStd == 2">
      avg_rate 
      <if test="isAsc == true">
      asc,
      </if>
      <if test="isAsc == false">
      desc,
      </if>
    </if>
    <if test="sortingStd == 3">
      rcm_cnt
      <if test="isAsc == true">
      asc,
      </if>
      <if test="isAsc == false">
      desc,
      </if>
    </if>
      pno 
      <if test="isAsc == true">
      asc;
      </if>
      <if test="isAsc == false">
      desc;
      </if>
  </sql>
  
  <select id="findListByLearningNo" resultMap="LearningReviewMap" parameterType="map">
    <include refid="selectList"/>
    where
      lno = #{learningNo}
      and pstat = 1
    <include refid="sortingOrderBy"/>
  </select>
  
  <select id="findListByMemberNo" resultMap="LearningReviewMap" parameterType="map">
    <include refid="selectList"/>
    where
      lno = #{memberNo}
      and pstat = 1
    <include refid="sortingOrderBy"/>
  </select>
  
  




























</mapper>
  
  