<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit189.haroo.dao.LearningDao">
  
  <resultMap id="learningMap" type="learning">
    <id column="sno" property="no"/>
    <result column="sname" property="name"/>
    <result column="sintro" property="intro"/>
    <result column="cov_img" property="coverImage"/>
    <result column="avg_rate" property="averageRate"/>
    <result column="sstat" property="state"/>
    <result column="rdttm" property="registeredDate"/>
    <result column="ncat_no" property="no"/>
    <result column="ncat_name" property="narrowCategory"/>
    <result column="bcat_no" property="no"/>
    <result column="bcat_name" property="broadCategory"/>
    <result column="min_head" property="minPeople"/>
    <result column="max_head" property="maxPeople"/>
    <result column="curriculum" property="progressOrder"/>
    <result column="price" property="price"/>
    <result column="zipcode" property="zipCode"/>
    <result column="addr" property="address"/>
    <result column="det_addr" property="detailAddress"/>
    <result column="rfnd_info" property="refundInformation"/>
    <result column="sgg_no" property="no"/>
    <result column="sgg_name" property="sigungu"/>
    <result column="mcp_no" property="no"/>
    <result column="mcp_name" property="metropolitanCity"/>
    
    <association property="owner" javaType="tutor">
      <id column="tno" property="no"/>
      <result column="name" property="name"/>
      <result column="nickname" property="nickname"/>
      <result column="profile_pic" property="profilePicture"/>
      <result column="tintro" property="intro"/>
      <result column="tappl" property="application"/>
      <result column="rddtm" property="promotedDate"/>
    </association>
    
    <collection property="schedules" ofType="LearningSchedule">
      <id column="sche_no" property="no"/>
      <result column="lno" property="no"/>
      <result column="date" property="LearningDate"/>
      <result column="stm" property="startTime"/>
      <result column="etm" property="endTime"/>
    </collection>
  </resultMap>
  
  <insert id="insert" parameterType="learning">
    insert into 
      har_learning(min_head,max_head,curriculum,price,det_addr,rfnd_into)
      values(#{min_head},#{max_head},#{curriculum},#{price},#{det_addr},#{rfnd_into})
  </insert>
  
  <!-- PK번호만 기입하였음 -->
  <select id="findAll" resultMap="learningMap">
    select
      l.min_head,
      l.max_head,
      l.curriculum,
      l.price,
      l.zipcode,
      l.addr,
      l.det_addr,
      l.rfnd_info,
      s.sno,
      s.sname,
      s.sintro,
      s.cov_img,
      s.avg_rate,
      s.sstat,
      s.rdttm,
      e.sche_no,
      e.date,
      e.stm,
      e.etm,
      m.name,
      m.nickname,
      m.profile_pic,
      t.tintro,
      t.tappl,
      t.rddtm,
      n.ncat_no,
      n.ncat_name,
      b.bcat_no,
      b.bcat_name,
      g.sgg_no,
      g.sgg_name,
      p.mcp_no,
      p.mcp_name
    from har_learning l
      inner join har_service s on s.sno=l.lno
      inner join har_narrow_cat n on n.ncat_no=s.ncat_no
      inner join har_broad_cat b on b.bcat_no=n.bcat_no
      inner join har_sigungu g on g.sgg_no=l.sgg_no
      inner join har_mcityprov p on p.mcp_no=g.mcp_no
      inner join har_schedule e on e.lno=l.lno
      inner join har_tutor t on t.tno=l.tno
      inner join har_member m on m.mno=t.tno
    order by s.sno desc
  </select>
  
  <!-- 체험학습 상세 -->
  <select id="findByNo" resultMap="learningMap" parameterType="int">
    select
      s.sname,
      s.avg_rate,
      s.rdttm,
      s.cov_img,
      s.sintro,
      m.profile_pic,
      m.name,
      m.nickname,
      l.curriculum,
      l.rfnd_info,
      n.ncat_name,
      b.bcat_name,
      g.sgg_name,
      p.mcp_name,
      t.tintro
    from har_learning l
      inner join har_service s on s.sno=l.lno
      inner join har_narrow_cat n on n.ncat_no=s.ncat_no
      inner join har_broad_cat b on b.bcat_no=n.bcat_no
      inner join har_sigungu g on g.sgg_no=l.sgg_no
      inner join har_mcityprov p on p.mcp_no=g.mcp_no
      inner join har_tutor t on t.tno=l.tno
      inner join har_member m on m.mno=t.tno
    where
      l.lno = #{value}
  </select>
  
</mapper>






