<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bit189.haroo.dao.LearningApplicationDao">

  <resultMap id="learningApplicationMap" type="learningApplication">
    <id column="lrn_appl_no" property="no"/>
     <result column="appl_size" property="applySize"/>
    <result column="appl_dttm" property="registeredDate"/>
    
    
     <association property="writer" javaType="member">
      <id column="mno" property="no"/>
      <result column="name" property="name"/>
      <result column="nickname" property="nickname"/>
    </association>
      
       <collection property="schedules" ofType="learningSchedule">
      <id column="sche_no" property="no"/>
      <result column="lno" property="learningNo"/>
      <result column="date" property="learningDate"/>
      <result column="stm" property="startTime"/>
      <result column="etm" property="endTime"/>
    </collection>

  </resultMap>

    
  <insert id="insert" parameterType="learningApplication">
    insert into har_lrn_appl(mno, sche_no, appl_size) 
    values(#{writer.no}, #{scheduleNo}, #{applySize})
  </insert>
  
  <select id="findAll" resultMap="learningApplicationMap">
    select
      l.lrn_appl_no,
      l.mno,
      l.sche_no,
      l.appl_dttm,
      l.appl_size,
      s.date,
      s.stm,
      s.etm,
      m.name,
      m.nickname
    from har_lrn_appl l
      inner join har_schedule s on l.sche_no=s.sche_no
      inner join har_member m on l.mno=m.mno
  </select>


  <select id="findByNo" resultMap="learningApplicationMap" parameterType="int">
       select
      l.lrn_appl_no,
      l.mno,
      l.sche_no,
      l.appl_dttm,
      l.appl_size,
      s.date,
      s.stm,
      s.etm,
      m.name,
      m.nickname
    from har_lrn_appl l
      inner join har_schedule s on l.sche_no=s.sche_no
      inner join har_member m on l.mno=m.mno
    where l.lrn_appl_no = #{value}
  </select>
  
  <delete id="delete" parameterType="int">
    delete from har_lrn_appl
    where l.lrn_appl_no = #{value}
  </delete>

</mapper>

