<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit189.haroo.dao.LearningScheduleDao">
  
  <resultMap id="learningScheduleMap" type="learningSchedule">
    <id column="sche_no" property="no"/>
    <result column="date" property="LearningDate"/>
    <result column="stm" property="startTime"/>
    <result column="etm" property="endTime"/>
    <result column="lno" property="learningNo"/>
  </resultMap>
  
  <insert id="insert" parameterType="map">
    insert into har_schedule(sche_no,lno,date,stm,etm)
    values
    <foreach collection="schedules" item="s" separator=",">
      (#{s.no},#{learningNo},#{s.learningDate},#{s.startTime},#{s.endTime})
    </foreach>
  </insert>
  
  <!--
  <insert id="update" parameterType="map">
    update har_schedule set
      <foreach collection="schedules" item="s" separator=",">
        (lno=#{learningNo},
         date=#{s.learningDate},
         stm=#{s.startTime},
         etm=#{s.endTime})
         where sche_no=#{s.no}
      </foreach>
  </insert>
  -->
  
  <insert id="update" parameterType="map">
    update har_schedule set
      lno=#{learningNo},
      date=#{s.learningDate},
      stm=#{s.startTime},
      etm=#{s.endTime}
    where sche_no=#{s.no}
  </insert>
  
</mapper>






