<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit189.haroo.dao.NarrowCategoryDao">
  
  <resultMap id="narrowCategoryMap" type="narrowCategory">
    <id column="ncat_no" property="no"/>
    <result column="ncat_name" property="name"/>
    
    <association property="broadCategory" javaType="broadCategory">
      <id column="bcat_no" property="no"/>
      <result column="bcat_name" property="name"/>
    </association>
  </resultMap>
  
  <select id="findAll" resultMap="narrowCategoryMap">
    select
      n.ncat_no,
      n.ncat_name,
      b.bcat_no,
      b.bcat_name
    from har_narrow_cat n
      inner join har_broad_cat b on b.bcat_no=n.bcat_no
    order by n.ncat_no
  </select>
</mapper>






