<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bit189.haroo.dao.PostDao">

  <resultMap id="postMap" type="Post">
    <id column="pno" property="no"/>
    <result column="content" property="content"/>
    <result column="wdttm" property="writingDate"/>
    <result column="view_cnt" property="viewCount"/>
    
    <collection property="attachedFiles" ofType="AttachedFile">
      <id column="fno" property="no"/>
      <result column="pno" property="postNo"/>
      <result column="fname" property="name"/>
    </collection>
  </resultMap>


  <insert id="insert" parameterType="post" useGeneratedKeys="true" keyColumn="pno" keyProperty="no">
    insert into har_post (content)
    values (#{content})
  </insert>
  
  <delete id="delete" parameterType="int">
    update har_post set
        pstat=0
    where pno = #{no}
  </delete>
  
  <update id="update" parameterType="Post">
    update har_post set
      content=#{content}
    where pno=#{no}
  </update>
  
  <update id="updateViewCount" parameterType="int">
    update har_post set
        view_cnt=(view_cnt+1)
    where pno = #{no}
  </update>
  
  <insert id="insertFile" parameterType="AttachedFile">
    insert into har_file (fname, pno)
    values (#{name}, #{postNo})
  </insert>
  
  <delete id="deleteFile" parameterType="int">
    delete from har_file where pno=#{no}
  </delete>






</mapper>