<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  


<mapper namespace="com.bit189.haroo.dao.ReCommentDao">

  <resultMap id="reCommentMap" type="ReComment">
	  <id column="recom_no" property="no"/>
	  <result column="com_no" property="commentNo"/>
	  <result column="content" property="content"/>
	  <result column="rdttm" property="registeredDate"/>
	  <result column="recom_stat" property="state"/>
	  
	  <association property="reWriter" javaType="Member"> <!-- 대댓글작성자 -->
	    <id column="rwmno" property="no"/>
	   <result column="rwprofile_pic" property="profilePicture"/>
	   <result column="rwname" property="name"/>
	   <result column="rwnickname" property="nickname"/>
	  </association>
	  
	  <association property="taggedMember" javaType="Member"> <!-- 대댓글에서 태그된 멤버 -->
	    <id column="tmmno" property="no"/>
	    <result column="tmname" property="name"/>
	    <result column="tmnickname" property="nickname"/>
	  </association>
  </resultMap>
  
  <select id="findAll" resultMap="reCommentMap">
    select
      r.recom_no,
      r.com_no,
      r.content,
      r.rdttm,
      r.recom_stat,
      rw.mno as rwmno,
      rw.profile_pic as rwprofile_pic,
      rw.name as rwname,
      rw.nickname as rwnickname,
      tm.mno as tmmno,
      tm.name as tmname,
      tm.nickname as tmnickname
    from
      har_recomment r
      inner join har_member rw on r.mno=rw.mno
      inner join har_member tm on r.tagged_mem=tm.mno
    where
      r.recom_stat=1
  </select>
  
  <select id="findByReComment" resultMap="reCommentMap" parameterType="int">
	  select
			r.recom_no,
			r.com_no,
			r.content,
			r.rdttm,
			r.recom_stat,
			rw.mno as rwmno,
			rw.profile_pic as rwprofile_pic,
			rw.name as rwname,
			rw.nickname as rwnickname,
			tm.mno as tmmno,
			tm.name as tmname,
			tm.nickname as tmnickname
		from
			har_recomment r
			inner join har_member rw on r.mno=rw.mno
			inner join har_member tm on r.tagged_mem=tm.mno
		where
		  r.recom_stat=1
		  and r.recom_no=#{no}
  </select>
  
  <insert id="insert" parameterType="ReComment">
    insert into har_recomment (recom_no, com_no, mno, content, tagged_mem)
    values (#{no}, #{commentNo}, #{reWriter.no}, #{content}, #{taggedMember.no})
  </insert>
  
  <update id="update" parameterType="ReComment">
    update har_recomment set
        content = #{content}
    where recom_no = #{no}
  </update>
  
  <delete id="delete" parameterType="int">
    update har_recomment set
        recom_stat=0
    where recom_no = #{no}
  </delete>
  
  <select id="findLike" parameterType="Map" resultType="String">
    select
      count(*)
    from
      har_recom_like
    where
      recom_no=#{reCommentNo}
      and mno=#{memberNo}
  </select>
  
  <delete id="deketeLike" parameterType="Map">
    delete from har_recom_like
    where recom_no=#{reCommentNo}
          and mno=#{memberNo}
  </delete>
  
  <insert id="addLike" parameterType="Map">
    insert into har_recom_like (recom_no, mno)
    values (#{reCommentNo}, #{memberNo})
  </insert>
  
  
  
  
  
  


















</mapper>
  
  