<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit189.haroo.dao.ServiceQuestionDao">

  <resultMap id="serviceQuestionMap" type="Question">
    <id column="pno" property="no"/>
     <result column="content" property="content"/>
    <result column="wdttm" property="writingDate"/>
    <result column="view_cnt" property="viewCount"/>
    <result column="pstat" property="state"/>
    <result column="title" property="title"/>
    <result column="secret" property="secret"/>
    <result column="rpl_content" property="replyContent"/>
    <result column="rpl_dttm" property="replyDate"/>
    
    <association property="writer" javaType="Member">
      <id column="mno" property="no"/>
      <result column="profile_pic" property="profilePicture"/>
      <result column="name" property="name"/>
      <result column="nickname" property="nickname"/>
    </association> 
    
    <association property="serviceInfo" javaType="ServiceInfo">
      <id column="sno" property="no"/>
      <result column="sname" property="name"/>
      <result column="sstat" property="state"/>
    </association> 
    
    <collection property="attachedFiles" ofType="AttachedFile">
      <id column="fno" property="no"/>
       <result column="pno" property="postNo"/>
      <result column="fname" property="name"/>
    </collection>
    
    
  </resultMap>
  
  <insert id="insert" parameterType="Question">
    insert into har_sqna (pno, mno, sno, title, secret)
    values (#{no}, #{writer.no}, #{serviceInfo.no}, #{title}, #{secret})
  </insert>
  
  <select id="findAll" resultMap="serviceQuestionMap">
    select
      q.pno,
      p.content,
      p.wdttm,
      p.view_cnt,
      p.pstat,
      q.mno,
      q.sno,
      q.title,
      q.secret,
      q.rpl_content,
      q.rpl_dttm,
      m.profile_pic,
      m.name,
      m.nickname,
      s.sname 
    from
      har_sqna q
      inner join har_member m on m.mno=q.mno
      inner join har_post p on p.pno=q.pno
      inner join har_srpl_file f on f.fno=q.pno
      inner join har_service s on s.sno=q.sno
      where
    p.pstat=1
  </select>
  
   <select id="findByNo" parameterType="int" resultMap="serviceQuestionMap">
 select
      q.pno,
      p.content,
      p.wdttm,
      p.view_cnt,
      p.pstat,
      q.mno,
      q.sno,
      q.title,
      q.secret,
      q.rpl_content,
      q.rpl_dttm,
      m.profile_pic,
      m.name,
      m.nickname,
      s.sname 
    from
      har_sqna q
      inner join har_member m on m.mno=q.mno
      inner join har_post p on p.pno=q.pno
      inner join har_srpl_file f on f.fno=q.pno
      inner join har_service s on s.sno=q.sno
      where
      q.pno = #{no}
    p.pstat=1
  </select>





</mapper>
  
  