<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit189.haroo.dao.SigunguDao">
  
  <resultMap id="sigunguMap" type="sigungu">
    <id column="sgg_no" property="no"/>
    <result column="sgg_name" property="name"/>
    
    <association property="sido" javaType="sido">
      <id column="sido_no" property="no"/>
      <result column="sido_name" property="name"/>
    </association>
  </resultMap>

  <select id="findAll" resultMap="sigunguMap">
    select
      g.sgg_no,
      g.sgg_name,
      d.sido_no,
      d.sido_name
    from har_sigungu g
      inner join har_sido d on d.sido_no=g.sido_no
    order by g.sgg_no
  </select>
</mapper>






