<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit189.haroo.dao.TutorDao">

<resultMap id="tutorMap" type="tutor">
    <id column="tno" property="no"/>
    <result column="tintro" property="intro"/>
    <result column="tappl" property="application"/>
    <result column="prom_dttm" property="promotedDate"/>
    <result column="name" property="name"/>
    <result column="email" property="email"/>
    <result column="tel" property="tel"/>
    <result column="profile_pic" property="profilePicture"/>
    <result column="nickname" property="nickname"/>
    <result column="bdate" property="birthDate"/>
    <result column="sex" property="sex"/>
    <result column="zipcode" property="zipcode"/>
    <result column="addr" property="address"/>
    <result column="det_addr" property="detailAddress"/>
    <result column="mstat" property="state"/>
    <result column="mrno" property="rank"/>
  
    <collection property="tutorDistricts" ofType="TutorDistrict">
      <result column="sgg_name" property="sigungu"/>
      <result column="sido_name" property="sido"/>
    </collection>
    
    <collection property="tutorCategories" ofType="TutorCategory">
      <result column="ncat_name" property="narrowCategory"/>
      <result column="bcat_name" property="broadCategory"/>
    </collection>
  </resultMap>

<insert id="insert" parameterType="tutor">
  </insert>
  
  <select id="findByKeyword" resultMap="tutorMap" parameterType="string">
    select 
      t.tno,
      m.name,
      m.email,
      m.profile_pic,
      m.nickname,
      m.sex,
      nc.ncat_name,
      bc.bcat_name,
      sg.sgg_name,
      sd.sido_name
    from har_tutor t
    inner join har_member m on m.mno=t.tno
    inner join har_tcat tc on tc.tno=t.tno
    inner join har_narrow_cat nc on nc.ncat_no=tc.ncat_no
    inner join har_broad_cat bc on bc.bcat_no=nc.bcat_no
    inner join har_tdist td on td.tno=t.tno
    inner join har_sigungu sg on sg.sgg_no=td.sgg_no
    inner join har_sido sd on sd.sido_no=sg.sido_no
    <where>
      <if test="keyword != null and keyword != ''">
       m.name like concat('%', #{keyword}, '%')
       or m.email like concat('%', #{keyword}, '%')
       or sg.sgg_name like concat('%', #{keyword}, '%')
       or sd.sido_name like concat('%', #{keyword}, '%')
       or nc.ncat_name like concat('%', #{keyword}, '%')
       or bc.bcat_name like concat('%', #{keyword}, '%')
      </if>
    </where>
    order by t.tno asc 
  </select>
  
  <select id="findByNo" resultMap="tutorMap" parameterType="int">
  select 
      t.tno,
      m.name,
      m.email,
      m.profile_pic,
      m.nickname,
      m.sex,
      m.bdate,
      m.zipcode,
      m.addr,
      m.det_addr,
      m.rdttm,
      m.mrno,
      m.mstat
      nc.ncat_name,
      bc.bcat_name,
      sg.sgg_name,
      sd.sido_name
    from har_tutor t
     inner join har_member m on m.mno=t.tno
    inner join har_tcat tc on tc.tno=t.tno
    inner join har_narrow_cat nc on nc.ncat_no=tc.ncat_no
    inner join har_broad_cat bc on bc.bcat_no=nc.bcat_no
    inner join har_tdist td on td.tno=t.tno
    inner join har_sigungu sg on sg.sgg_no=td.sgg_no
    inner join har_sido sd on sd.sido_no=sg.sido_no
    where tno = #{value}
  </select>
  
  <update id="update" parameterType="tutor">
  update har_tutor set 
    tintro=#{intro},
    tappl=#{application},
    sgg_name=#{sigungu},
    sido_name=#{sido},
    ncat_name=#{narrowCategory},
    bcat_name=#{broadCategory}
  where no = #{no}
  </update>
  
  
  <delete id="delete" parameterType="int">
  delete from har_tutor 
    where tno=#{value}
  </delete>
  
  </mapper>